
:root {
    --naraja: rgb(255, 94, 0);
    --fondo: #2b2b27;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
}

.contenedor {
    width: 100%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    justify-content: center;
    text-align: center;
}

header .titulo {
    font-weight: normal;
    color: var(--naraja);
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
}

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover, 
header nav a.activo {
    color: #fff;
}

header .logo {
    width: 40px;
    height: 40px;
    display: none;
}

.session {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.session a {
    margin: 0px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

@media (min-width:768px) {
    
}
@media (min-width:1024px) {
    
}