
@font-face {
    font-family: japanese3017;
    src: url(../fonts/japanese_3017/Japanese3017.ttf);
}

body {
    margin: 0;
    font-size: 50px;
    
}

.titulo {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.titulo h1 {
    font-size: 3.5rem;
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: japanese3017;
    margin-right: 120%;
    padding-bottom: 20%;
}

#miVideo {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(47, 47, 47);
    opacity: 0.7;
}