
:root {
    --naraja: rgb(255, 94, 0);
    --fondo: rgb(39, 39, 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
}

.contenedor {
    width: 100%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    justify-content: center;
    text-align: center;
}

header .titulo {
    font-weight: normal;
    color: var(--naraja);
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
}

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover, 
header nav a.activo {
    color: #fff;
}

header .logo {
    width: 40px;
    height: 40px;
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu a {
    margin: 0px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

.titlelist {
    text-transform: uppercase;
    margin: 15px;
    color: #fe5e00;
    text-align: center;
}

.popmovie{
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 1440px;
    background-color: #fe5e00;
    justify-content: center;
    padding: 25px 25px 25px 25px;
    margin: 20px 0px 20px 0px;
    color: silver;
}

.popmovie li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(39, 39, 39);
    border-style: solid;
    border-width: 20px;
    background-color: rgb(39, 39, 39);
}

.popmovie li a{
    text-decoration: none;
    color: silver;
}

.movie li{
    border: none;
    display: flex;
    align-items: center;
}

.imgmovie {
    width: 220px;
    height: 330px;
    margin-bottom: 10px;
}

footer p{
    display: flex;
    align-content: center;
    justify-content: center;
    color: silver;
    background-color: rgb(39, 39, 39);
    margin-bottom: 0;
    padding: 20px 0px 20px 0px;
}

@media (min-width:768px) {
    
}
@media (min-width:1024px) {
    
    .popmovie{
        display: flex;
        text-align: center;
        flex-direction: row;
        max-width: 1440px;
        background-color: #fe5e00;
        justify-content: center;
        padding: 25px 0px 25px 0px;
        margin: 20px 0px 20px 0px;
    }
    header .logo {
        width: 40px;
        height: 40px;
        display: flex;
    }
    .movies{
        margin-right: 20px;
    }
    footer p{
        display: flex;
        align-items: center;
        justify-content: center;
        color: silver;
        background-color: rgb(39, 39, 39);
        padding: 20px 0px 20px 0px;
    }
    .titlelist {
        text-align: left;
    }
    
    section {
        margin-left: auto;
        margin-right: auto;
    }
   
    header nav a {
        color: #aaa;
        text-decoration: none;
        margin-right: 20px;
        font-size: 20px;
    }
    
    header nav a:hover, 
    header nav a.activo {
        color: #fff;
    }
    

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .menu a {
        margin: 0px;
        width: 100px;
        text-align: center;
        margin-top: 10px;
    }
}
@media (min-width:1080px) {
    section {
        margin-left: 13%;
        margin-right: auto;
    }
}