:root {
    --naraja: rgb(255, 94, 0);
    --fondo: rgb(39, 39, 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
}

.contenedor {
    width: 100%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    justify-content: center;
    text-align: center;
}

header .titulo {
    font-weight: normal;
    color: var(--naraja);
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
}

header .contenedor a{
    text-decoration: none;
}

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover, 
header nav a.activo {
    color: #fff;
}

header .logo {
    width: 40px;
    height: 40px;
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.menu a {
    margin: 0px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

main{
    color: #fe5e00;
}
section{
    background-color: rgb(39, 39, 39);
    border: auto;
    border-style: solid;
    border-color: #fe5e00;
    padding: auto;
}

.div1{
    margin: 10px;
}

.movietit{
    text-transform: uppercase;
    margin: 10px;
}

.subt{
    margin: 10px;
    color: silver;
}

#video{
    width: auto;
}

.imgtit{
    margin: 20px;
    height: auto;
}

ul{
    list-style: none;
    margin: 0px 20px 20px 20px;
    color: silver;
}

.data{
    border-bottom: rgba(254, 94, 0);
    border-bottom: solid;
    border-width: thin;
    padding: 5px 0px 5px 0px;
}

footer p{
    display: flex;
    align-content: center;
    justify-content: center;
    color: silver;
    background-color: rgb(39, 39, 39);
    margin-bottom: 0;
    padding: 20px 0px 20px 0px;
}

@media (min-width:768px) {
    
}

@media (min-width:1024px) {
    section{
        flex-direction: row;
        border-width: 20px;
    }
    header .logo {
        width: 40px;
        height: 40px;
        display: flex;
    }

    .imgtit{
        height: 340px;
    }

    #video{
        width: 750px;
        height: 340px;
    }

    .data{
        border-bottom: rgba(254, 94, 0);
        border-bottom: solid;
        border-width: thin;
        padding: 5px 0px 5px 0px;
    }

    header nav a {
        color: #aaa;
        text-decoration: none;
        margin-right: 20px;
        font-size: 20px;
    }
    
    header nav a:hover, 
    header nav a.activo {
        color: #fff;
    }
    

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    header .contenedor {
        display: flex;
        justify-content: flex-start;
    }
    
    .menu a {
        margin: 0px;
        width: 100px;
        text-align: center;
        margin-top: 10px;
    }
}
